<!-- parts.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>All Parts</title>
  <style>
    /* CSS styling for the parts list */
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }
    h1 {
      font-size: 24px;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    li {
      margin-bottom: 20px;
      border: 1px solid #ccc;
      padding: 10px;
    }
  td {
    padding: 0 35px;
  }
  td:nth-of-type(5) {
    font-weight: bold;
}
  </style>
 <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/moment"></script>
 <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.0/dist/chartjs-adapter-moment.min.js"></script>

</head>
<body>
    <div class="part-info">
        <br>
      <form action="/parts" method="GET">
        <input type="text" name="partNumber" placeholder="Enter Part Number">
        <button type="submit">Search</button>
      </form>
    </div>
  <h1>All Parts</h1>
  <table border=1 frame=void rules=rows>
    <tr>
      <th> Part Number </th>
      <th> Short Name </th>
      <th> Status </th>
      <th> On Hand </th>
      <th> Min </th>
      <th> # To Restock </th>
      <th> unit </th>
      <th> Inventory </th>
      <th> Backstock </th>
      <th> Price Per </th>
      <th> Cost of Restock </tr>
      <% parts.sort((a, b) => ((a.current_backstock + a.current_inventory) - a.min_quantity) - ((b.current_backstock + b.current_inventory) - b.min_quantity)).forEach(part => { %>
        <tr>
        <td> <a href="/parts?partNumber=<%= part.part_num %>"><%= part.part_num %></a> </td>
        <td> <%= part.short_name %></td>
        <td> <%= part.status %> </td>
        <td> <%= part.current_inventory + part.current_backstock %> </td>
        <td> <%= part.min_quantity %> </td>
        <td> <%= 0-((part.current_backstock + part.current_inventory) - part.min_quantity) %> </td>
        <td> <%= part.unit %> </td>
        <td> <%= part.current_inventory %> </td>
        <td> <%= part.current_backstock %> </td>
        <td> $<%= part.current_price %> </td>
        <td> $<%= ((0-((part.current_backstock + part.current_inventory) - part.min_quantity)) * part.current_price).toFixed(2) %></td>

      </tr>
    <% }); %>
    </table>
</body>
</html>
